Fetching data from mongodb Atlas server

In [1]:
from pymongo import MongoClient
import pandas as pd

clinet = MongoClient("mongodb+srv://himayudhoke:so34JLowMFfHWGb5@cluster0.lufwdkw.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
database = clinet["thane_traffic"]
collection = database["traffic_flow_data"]
print(collection.count_documents({}))


document = list(collection.find().limit(1000))
df = pd.DataFrame(document)
traffic_data = df.to_csv('Traffic.csv',index=False)

5666

In [13]:
df = pd.read_csv(r'notebook\Traffic.csv')
df.head(10)

,_id,road,point,timestamp,roadName,frc,currentSpeed,freeFlowSpeed,currentTravelTime,freeFlowTravelTime,confidence,roadClosure
0,68af0164c0e5f68e3352f663,SH-42 (Ghodbunder Road),"19.2500,73.0500",2025-08-27 13:00:19.873,NaN,FRC1,39,39,918,918,1.000000,False
1,68af0166c0e5f68e3352f664,SH-42 (Ghodbunder Road),"19.2500,72.9800",2025-08-27 13:00:19.873,NaN,FRC4,23,23,190,190,1.000000,False
2,68af0166c0e5f68e3352f665,Eastern Express Highway,"19.2183,72.9781",2025-08-27 13:00:19.873,NaN,FRC4,6,10,6,3,1.000000,False
3,68af0166c0e5f68e3352f666,Eastern Express Highway,"19.0760,72.8777",2025-08-27 13:00:19.873,NaN,FRC4,19,19,148,148,1.000000,False
4,68af0166c0e5f68e3352f667,LBS Marg,"19.1960,72.9600",2025-08-27 13:00:19.873,NaN,FRC4,21,21,228,228,1.000000,False
5,68af0167c0e5f68e3352f668,LBS Marg,"19.0500,72.8700",2025-08-27 13:00:19.873,NaN,FRC2,54,54,126,126,1.000000,False
6,68af0167c0e5f68e3352f669,Thane-Belapur Road,"19.1800,73.0100",2025-08-27 13:00:19.873,NaN,FRC4,32,32,1022,1022,1.000000,False
7,68af0167c0e5f68e3352f66a,Thane-Belapur Road,"19.0450,73.0150",2025-08-27 13:00:19.873,NaN,FRC4,20,20,220,220,1.000000,False
8,68af0168c0e5f68e3352f66b,Sion-Panvel Expressway,"19.0600,72.8850",2025-08-27 13:00:19.873,NaN,FRC4,15,19,1000,789,0.947993,False
9,68af0168c0e5f68e3352f66c,Sion-Panvel Expressway,"18.9800,73.1100",2025-08-27 13:00:19.873,NaN,FRC4,25,30,555,462,0.985374,False

Data Cleaning

In [14]:
#Removing cloumns
df.drop(columns=['_id','roadName'],inplace=True)
df.head()

,road,point,timestamp,frc,currentSpeed,freeFlowSpeed,currentTravelTime,freeFlowTravelTime,confidence,roadClosure
0,SH-42 (Ghodbunder Road),"19.2500,73.0500",2025-08-27 13:00:19.873,FRC1,39,39,918,918,1.0,False
1,SH-42 (Ghodbunder Road),"19.2500,72.9800",2025-08-27 13:00:19.873,FRC4,23,23,190,190,1.0,False
2,Eastern Express Highway,"19.2183,72.9781",2025-08-27 13:00:19.873,FRC4,6,10,6,3,1.0,False
3,Eastern Express Highway,"19.0760,72.8777",2025-08-27 13:00:19.873,FRC4,19,19,148,148,1.0,False
4,LBS Marg,"19.1960,72.9600",2025-08-27 13:00:19.873,FRC4,21,21,228,228,1.0,False

In [15]:
# label Enconding
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['road'] = le.fit_transform(df['road'])
df['frc'] = le.fit_transform(df['frc'])
df['roadClosure'] = le.fit_transform(df['roadClosure'])
df.head()

,road,point,timestamp,frc,currentSpeed,freeFlowSpeed,currentTravelTime,freeFlowTravelTime,confidence,roadClosure
0,8,"19.2500,73.0500",2025-08-27 13:00:19.873,0,39,39,918,918,1.0,0
1,8,"19.2500,72.9800",2025-08-27 13:00:19.873,3,23,23,190,190,1.0,0
2,0,"19.2183,72.9781",2025-08-27 13:00:19.873,3,6,10,6,3,1.0,0
3,0,"19.0760,72.8777",2025-08-27 13:00:19.873,3,19,19,148,148,1.0,0
4,1,"19.1960,72.9600",2025-08-27 13:00:19.873,3,21,21,228,228,1.0,0

Feature Engineering

In [16]:
#latitude and longitude

df[['latitude','longitude']] = df['point'].str.split(',',expand=True)
df['latitude'] = df['latitude'].astype(float)
df['longitude'] = df['longitude'].astype(float)
df.drop(columns='point',inplace=True)
df.head()

,road,timestamp,frc,currentSpeed,freeFlowSpeed,currentTravelTime,freeFlowTravelTime,confidence,roadClosure,latitude,longitude
0,8,2025-08-27 13:00:19.873,0,39,39,918,918,1.0,0,19.2500,73.0500
1,8,2025-08-27 13:00:19.873,3,23,23,190,190,1.0,0,19.2500,72.9800
2,0,2025-08-27 13:00:19.873,3,6,10,6,3,1.0,0,19.2183,72.9781
3,0,2025-08-27 13:00:19.873,3,19,19,148,148,1.0,0,19.0760,72.8777
4,1,2025-08-27 13:00:19.873,3,21,21,228,228,1.0,0,19.1960,72.9600

In [18]:
import pytz

df['timestamp'] = pd.to_datetime(df['timestamp']).dt.tz_localize('UTC')
df['timestamp'] = pd.to_datetime(df['timestamp']).dt.tz_convert('Asia/Kolkata')
df['timestamp'] = df['timestamp'].dt.tz_localize(None)

df['Day'] = df['timestamp'].dt.day
df['Hour'] = df['timestamp'].dt.hour
df['minute'] = df['timestamp'].dt.minute

df.drop(columns='timestamp',inplace=True)
df.head()

,road,frc,currentSpeed,freeFlowSpeed,currentTravelTime,freeFlowTravelTime,confidence,roadClosure,latitude,longitude,Day,Hour,minute
0,8,0,39,39,918,918,1.0,0,19.2500,73.0500,27,18,30
1,8,3,23,23,190,190,1.0,0,19.2500,72.9800,27,18,30
2,0,3,6,10,6,3,1.0,0,19.2183,72.9781,27,18,30
3,0,3,19,19,148,148,1.0,0,19.0760,72.8777,27,18,30
4,1,3,21,21,228,228,1.0,0,19.1960,72.9600,27,18,30

In [24]:
#delay 
df['Delay'] = (df['currentTravelTime'] - df['freeFlowTravelTime'])
df.head()

,road,frc,currentSpeed,freeFlowSpeed,currentTravelTime,freeFlowTravelTime,confidence,roadClosure,latitude,longitude,Day,Hour,minute,Delay ratio,Delay
0,8,0,39,39,918,918,1.0,0,19.2500,73.0500,27,18,30,0.0,0
1,8,3,23,23,190,190,1.0,0,19.2500,72.9800,27,18,30,0.0,0
2,0,3,6,10,6,3,1.0,0,19.2183,72.9781,27,18,30,1.0,3
3,0,3,19,19,148,148,1.0,0,19.0760,72.8777,27,18,30,0.0,0
4,1,3,21,21,228,228,1.0,0,19.1960,72.9600,27,18,30,0.0,0

In [26]:
df.describe()

,road,frc,currentSpeed,freeFlowSpeed,currentTravelTime,freeFlowTravelTime,confidence,roadClosure,latitude,longitude,Day,Hour,minute,Delay ratio,Delay
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.0000,1000.000000,1000.0,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,5.145000,2.383000,25.709000,28.183000,922.626000,812.4520,0.966730,0.0,19.225941,73.063377,27.664000,18.527000,27.452000,0.153921,110.174000
std,3.176801,1.172043,13.604536,13.035392,845.689724,753.3646,0.083733,0.0,0.244622,0.214286,0.472575,3.357461,17.196727,0.235419,203.018162
min,0.000000,0.000000,5.000000,10.000000,3.000000,3.0000,0.537813,0.0,18.650000,72.840000,27.000000,12.000000,2.000000,0.000000,0.000000
25%,3.000000,2.000000,16.000000,19.000000,217.000000,190.0000,0.981958,0.0,19.076000,72.960000,27.000000,16.000000,14.000000,0.000000,0.000000
50%,5.000000,3.000000,21.000000,26.000000,833.000000,747.0000,1.000000,0.0,19.220000,73.010000,28.000000,19.000000,25.000000,0.000000,0.000000
75%,8.000000,3.000000,31.000000,32.000000,1196.750000,1022.0000,1.000000,0.0,19.300000,73.110000,28.000000,21.000000,49.000000,0.275956,151.000000
max,10.000000,4.000000,61.000000,61.000000,3433.000000,2552.0000,1.000000,0.0,20.011000,73.790000,28.000000,23.000000,58.000000,1.333333,1145.000000

In [ ]:
def categorize_traffic(delay_ratio):
    if delay_ratio <= 0.15:
        return 'Low'
    elif delay_ratio <= 0.5:
        return 'Medium'
    else:
        return 'High'

df['Traffic level'] = df['Delay ratio'].apply(categorize_traffic)

,road,frc,currentSpeed,freeFlowSpeed,currentTravelTime,freeFlowTravelTime,confidence,roadClosure,latitude,longitude,Day,Hour,minute,Delay ratio,Delay,Traffic level
0,8,0,39,39,918,918,1.0,0,19.2500,73.0500,27,18,30,0.0,0,Low
1,8,3,23,23,190,190,1.0,0,19.2500,72.9800,27,18,30,0.0,0,Low
2,0,3,6,10,6,3,1.0,0,19.2183,72.9781,27,18,30,1.0,3,High
3,0,3,19,19,148,148,1.0,0,19.0760,72.8777,27,18,30,0.0,0,Low
4,1,3,21,21,228,228,1.0,0,19.1960,72.9600,27,18,30,0.0,0,Low

In [29]:
traffic_data = df.to_csv('traffic_dataset.csv',index=False)